body {
  background-color: #A7B1ED;
}

main {
  background: #ECEFFA;
  width: 100vw;
  left: 0px;
  top: 0px;
  position: absolute;
  height: 90vh;
}

#control {
  background: #ECEFFA;
  top: 85vh;
  height: 10vh;
  width: 100vw;
  position: absolute;
  box-shadow:rgba(0, 87, 255, 0.6) 2px 2px 3px 3px;
  border-radius: 5vh;
}

.buttons button{
  height: 10vh;
  width: 10vh;
}
