@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100&display=swap');

.playlist button:hover {
  background-color: #7F8EE0;
}

main {
  background-color:#ECEFFA;
  margin-top: -1vh;
  margin-left: -7px;
  width: 100vw;
  height: 90vh;
}

body {
  background-color: #A7B1ED;;
}

h2 {
  font-family: 'Bebas Neue', cursive;
}
h3 {
  font-family: 'Bebas Neue', cursive;;
}

footer {
  font-family: 'Bebas Neue', cursive;
}

h2 {
  color: #707070;
}
h3 {
  color: #707070;
}

main h4 {
  color: #707070;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
