@media(min-width: 600px) {

  main {
    display: flex;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    height: 92vh;
  }
  .playing {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 81vh;
  }
  
  .playing h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size:40px;
    
  }
  
  .playing h4 {
    margin-top: -2vh;
  }
  
  .cover {
    display: flex;
    box-shadow:rgba(0, 87, 255, 0.4) 2px 2px 2px 2px;
    height: 25vw;
    width: 25vw;
    border-radius: 35vw;
    justify-content: center;
    align-items: center;
  }
  
  
  .cover img {
    display: flex;
    height: 23vw;
    width: 23vw;
    border-radius: 32vw;
  }
    /* Controlador da música */
  
  .slider {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    appearance: none;
    width: 45vw; 
    height: 4vh;
    background: white; 
    border-radius: 2vh;
    box-shadow:rgba(0, 87, 255, 0.4) 2px 2px 2px 2px;
    margin-bottom: 4vh;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4.5vh;
    height: 4.5vh;
    border-radius: 50%; 
    background: white;
    cursor: pointer;
    box-shadow:rgba(0, 87, 255, 0.4) 2px 2px 2px 2px;
  }
  
  
  .control {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .buttons {
    margin-bottom: -5vh;
    display: flex;
    box-shadow:rgba(0, 87, 255, 0.4) 2px 2px 2px 2px;
    height: 9.5vh;
    border-radius:5vh;
    width: 60vw;
    background: #ECEFFA;
    justify-content: space-around;
  }
  
  #stop {
    background: #6879DB;
    display: flex;
    margin-top: -0.75vh;
    height: 11vh;
    box-shadow:rgba(0, 87, 255, 0.4) 2px 2px 2px 2px;
    width: 11vh;
    border-radius: 5.5vh;
    border: 0px;
  }
  
  /* rodapé */
  footer {
    display: flex;
    margin-top: 3vh;
  }
  
}